body {
  text-align: center;
  background-color: rgb(34, 48, 119);
}


.btn {
  padding: 30px;
  border: none;
  background-color: blue;
  border-radius: 10px;
  color: white;
  font-size: 16px;
  margin: 10px;

}

.btnnum {
  padding: 50px;
  font-size: 100px;
}